<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="fa-solid fa-graduation-cap me-2"></i
      ><span th:text="#{nav.brand}">SMS System</span>
    </a>
    <button
      title="nav-btn"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link active" href="/" th:text="#{nav.home}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#features" th:text="#{nav.features}"
            >Features</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact" th:text="#{nav.contact}"
            >Contact</a
          >
        </li>

        <li class="nav-item dropdown ms-3">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
          >
            <i class="fa-solid fa-globe"></i> Language
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdown"
          >
            <li><a class="dropdown-item" href="?lang=en">🇺🇸 English</a></li>
            <li>
              <a class="dropdown-item" href="?lang=vi">🇻🇳 Tiếng Việt</a>
            </li>
          </ul>
        </li>

        <li class="nav-item ms-3">
          <button
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#loginModal"
            th:text="#{nav.login}"
          >
            Login
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
