<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top shadow-sm"
      th:fragment="header"
    >
      <div class="container">
        <a class="navbar-brand fw-bold d-flex align-items-center" href="/">
          <i class="fa-solid fa-graduation-cap fa-lg me-2 text-warning"></i>
          <span th:text="#{nav.brand}">SMS System</span>
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto align-items-center">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/}" th:text="#{nav.home}">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/#features" th:text="#{nav.features}"
                >Features</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" th:href="@{/contact}" th:text="#{nav.contact}"
                >Contact</a
              >
            </li>

            <li class="nav-item dropdown ms-lg-3">
              <a
                class="nav-link dropdown-toggle btn btn-outline-secondary btn-sm px-3 rounded-pill"
                href="#"
                id="langDropdown"
                role="button"
                data-bs-toggle="dropdown"
              >
                <i class="fa-solid fa-globe me-1"></i>
                <span th:text="#{nav.lang}">Lang</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-end shadow">
                <li>
                  <a class="dropdown-item" th:href="@{''(lang='en')}"
                    >🇺🇸 English</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{''(lang='vi')}"
                    >🇻🇳 Tiếng Việt</a
                  >
                </li>
              </ul>
            </li>

            <li class="nav-item ms-lg-3 mt-2 mt-lg-0">
              <a
                th:href="@{/login}"
                class="btn btn-primary rounded-pill px-4 fw-bold"
              >
                <i class="fa-solid fa-right-to-bracket me-2"></i>
                <span th:text="#{login.btn}">Sign In</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
